/* Enter your custom styles here */

.sapMITBTextOnly .sapMITBFilter:not(.sapMITBDisabled) .sapMITBText {
    cursor: pointer;
    text-transform: none;
}

.sapMWizardProgressNavStep[data-sap-ui-wpn-step-active="true"] .sapMWizardProgressNavAnchorTitle {
    color: #FFFFFF !important;
}

.sapMWizardProgressNavStep[data-sap-ui-wpn-step-active="false"] .sapMWizardProgressNavAnchorTitle {
    color: #FFFFFF !important;
}

.sapMWizardStep .sapMWizardStepTitle {
    color: #FFFFFF !important;
}

.sapMWizardProgressNav {
    position: sticky;
}